body {
    margin: 0%;

    height: 100vh;
    background-image: url('../image/guestbook_bg.png');
    background-repeat : no-repeat;
    background-size : cover;

}

#titlebar{
    background-color: #179063;
    height: 130px;
    width: 100vw;
}

#titlelogo{
    margin-top: 15px;
    margin-left: 7px;
}

#close{
    float: right;
    margin-right: 40px;
    margin-top: 4px;
}