body {
    margin: 0%;
    /*background-color: rgb(255, 245, 178);*/
    background-image: url('../image/MirimTest_bg.png');
    position: fixed; 
    /*background-size: 1920px 1080px;*/
    background-size: 2560px 1440px;
    background-repeat : no-repeat;
    
}

#pos_bar{
    margin-top: 150px;
    margin-left: 870px; /*바*/
    position: relative;
}

#position{
    position: absolute;

    margin-top: -30px;
    margin-left: 10px;
}

#closebtn{
    float: right;

    margin-top: -240px;
    margin-right: 50px;
}

#test_bg{
    position: relative;
    background-image: url('../image/MirimTest_testbar.png');
    background-repeat : no-repeat;
    width: 2050px;
    height: 754px;
    padding-left: 40px;
    margin-left: 440px;
    margin-top: 50px;
}



#question{
    position: absolute;
    margin-left: 80px;
    margin-top: 2px;
}

#ans_left{
    background-color: transparent;
    background-image: url('../image/MirimTest_speechBubble.png');
    background-repeat : no-repeat;
    width: 524px;
    height: 320px;

    border: none;

    margin-top: 440px;
    margin-left: 160px;
}

#ans_right{
    background-color: transparent;
    background-image: url('../image/MirimTest_speechBubble.png');
    background-repeat : no-repeat;
    width: 524px;
    height: 320px;

    border: none;

    margin-left: 270px;
}
