body {
    margin: 0%;
    margin-right: 300px;
}

#result_bg{
    background-image: url("../image/ResultTest_bg.png");
    width: 1399px;
    height: 100vh;
}

#txt1{
    float: right;

    margin-top: -1100px;
    margin-right: 170px;
    
    font-weight: bold;
    font-size: 30px;
}

#post{
    float: right;

    margin-top: -1030px;
    margin-right: 7px;
}

#btnGameTown{
    float: right;

    margin-top: -590px;
    margin-right: 20px;
}