body {
    margin: 0%;

    height: auto;
    background-image: url('image/background_new.jpg');
    background-repeat : no-repeat;
    background-size : cover;

    overflow-y: hidden;
    overflow-x: hidden;

    
}

/*글씨*/
.my-div{    
    font-family: 'Happiness-Sans-Title';
    font-size: 2vmin;
    height : 200px;
    text-align : center;
    color: white;
    margin-top: 15%;
}

#back_logo{
    width: 42%;

    margin-top: 7%;
    margin-left: 29%;
}

/*
#start{
    font-size: 230%;
    color: white;
    margin-left: 1110px;
    margin-top: 400px;
}*/

#link{
    text-decoration: none;
}


@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}