body {
    margin: 0%;

    height: 100vh;
    background-image: url('image/index_bg.png');
    background-repeat : no-repeat;
    background-size : cover;

}

#bar{
    background-image: url('image/index_titlebar.png');

    height: 139px;
    width: 100vw;
}

#logo{
    margin-top: 13px;
    margin-left: 7px;
}

#manager{
    float: right;

    margin-top: 8px;
    margin-right: 20px;
}

#mgbtn{
    float: right;

    margin-top: -45px;
    margin-right: 25px;
}

#testbtn{
    margin-top: 130px;
    margin-left: 230px;
}

#forestbtn{
    float: right;

    margin-top: 130px;
    margin-right: 230px;
}