body {
    margin: 0%;

    height: 100vh;
    background-image: url('image/index_bg.png');
    background-repeat : no-repeat;
    background-size : cover;

}

#bar{
    background-image: url('image/index_titlebar.png');
    

    height: 130px;
    width: 100%;
}

#logo{
    margin-top: 13px;
    margin-left: 7px;
}

#manager{
    float: right;

    margin-top: 8px;
    margin-right: 20px;
}

#mgbtn{
    float: right;

    margin-top: -45px;
    margin-right: 25px;
}

#testbtn{
    height: 40%;
    width: 20%;
    margin-top: 140px;
    margin-left: 200px;
}

#forestbtn{
    float: right;
    height: 40%;
    width: 20%;
    margin-top: 140px;
    margin-right: 1000px;
}

#TMIbtn{
    float: right;
    height: 40%;
    width: 20%;
    margin-top: -530px;
    margin-right: 220px;
}