body {
    margin: 0%;

    height: auto;
    background-image: url('image/background_new.jpg');
    background-repeat : no-repeat;
    background-size : cover;

    overflow-y: hidden;
    overflow-x: hidden;

}