body{
    background-image: url("../image/Help_map.png");
    background-repeat : no-repeat;
    background-size : cover;
}



#txtMap{
    display: block;
    margin: 0px auto;
    height: 20%;
    margin-top: 2%;
}

#btnBack{
    float: right;
    margin-right: 3%;
    margin-top: -1%;
}