body {
    margin: 0%;
    height: 100vh;
    background-image: url('../image/tmi_bg.png');
    background-repeat : no-repeat;
    background-size : cover;
}

#close{
    float: right;
    margin-top: 0px;
    margin-right: 40px;
}

#button1{
    margin-top: 920px;
    margin-right: 15px;
    float: right;
}

#tmiCreate_go_btn{
    float: right;
    margin-top: 850px;
    margin-right: 25px;
}