body {
    margin: 0%;

    height: 100vh;
    /*background-image: url('../image/guestbook_bg.png');*/
    background-color: #D3FFAC;
    background-repeat : no-repeat;
    background-size : cover;
    overflow-y: hidden;

}

#titlebar{
    background-color: #619F63;
    height: 100px;
    width: 100vw;
}

#backbtn{
    margin-top: 22px;
    margin-left: 16px;
}

#txtbar{
    background-color: white;
    height: 85px;
    width: 100vw;
}

#yes_btn{
    margin-top: 15px;
    float: right;
    margin-right: 20px;
}

#close{
    float: right;
    margin-right: 40px;
}

#container {
    margin-top: 30px;
}
#chatView {
    width: 100vw;
    height: 1100px;
    overflow-y: scroll;
}
#chatForm {
    text-align: center;
}
#msg {
    width: 80%;
    height: 85px;
    border-radius: 8px;

    margin-top: -100px;

    font-size: 25px;
}
#send {
    background-image: url('../image/MirimWriting_btn.png');
    background-color: #D3FFAC;
    color: rgb(16, 186, 0);
    border: none;
    width: 150px;
    height: 150px;

    /*width: 16%;
    height: 84px;
    border-radius: 50px;
    background: black;
    color: white;*/
    background-repeat : no-repeat;
    background-size : cover;
    margin-left: 25px;

    font-size: 30px;
}