body{
    margin: 0%;
    height: 100vh;
    background-image: url('../image/tmi_bg.png');
    background-repeat : no-repeat;
    background-size : cover;
}

#titlebar{
    height: 100px;
    width: 100vw;
}

#close{
    float: right;
    margin-right: 40px;
}

#container {
    margin-top: 30px;
}

#tmiView{
    width: 100vw;
    height: 700px;
    overflow-y: scroll;
}

#button1{
    margin-top: 60px;
    margin-right: 3px;
    float: right;
}



/*
#messagebox{
    position: relative;
    background-image: url('../image/guestbook_messagebox.png');

    height: 182px;
    width: 1517px;

    margin-left: 28%;
    margin-top: 48%;
}



#sendbtn{
    position: absolute;
    background-image: url('../image/guestbook_send.png');

    height: 45px;
    width: 44px;

    right: 3%;
    bottom: 20%;
}

#name{
    margin-left: 10%;
    margin-top: 1%;

    height:40px;
    width: 400px;

    border: none;
}

#TMIbook{
    margin-left: 10%;
    margin-top: 1%;

    height: 80px;
    width: 1200px;

    border: none;
    font-size: 15px;
}*/

