body{
    /*background-image: url('../image/MirimTest_bg.png');*/
    background-color: black;
    background-size: 2560px 1440px;
    background-repeat : no-repeat;
    margin: 0%;
    overflow: hidden;
}

/*노란색 이미지*/
#answer{
    background-image: url("../image/Game_town_speechBubble.jpg.png");
    background-size : cover;
    background-repeat : no-repeat;
    margin-top: -30px;
    margin-left: 1000px;
    height: 300px;
    width: 500px;
}

/* 노란색 : 안에 들어가는 txt*/
#txt_answer{
    background-color: rgb(254, 237, 159);
    border: 1px solid rgb(254, 237, 159);
    
    border-radius: 10px;
    height: 80px;
    width: 420px;
    font-size: 26pt; /*폰트 크기*/
    text-align: center; /*텍스트 위치*/
    color: black;
    padding: 4px; /*안쪽 여백*/
    box-sizing: border-box;
    margin-top: 90px;
    margin-left: 30px;
}

#btn{
    background-image: url("../image/Game_town_txtBtn.png");
    background-color: black;
    color: #0CC6B8;
    float: left;
    margin-left: 600px;
    margin-top: 10px;
    background-size : cover;
    background-repeat : no-repeat;
    
    
    height: 90px;
    width: 300px;
    font-size: 26pt;
}

#ch1{
    width: 300px;
    height: 350px;
    margin-left: 230px;
    margin-top: 200px;
}

#test_bg{
    position: relative;
    background-image: url('../image/MirimTest_testbar.png');
    background-repeat : no-repeat;
    width: 2000px;
    height: 730px;
    padding-left: 40px;
    margin-left: 600px;
    margin-top: -340px;
}


#closebtn{
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}

input:focus {outline: none;}