body{
    background-image: url('../image/Game_town_db.jpg');
    background-size: 2560px 1440px;
    background-repeat : no-repeat;
    margin: 0%;
    overflow: hidden;
}

/*
#house{
    margin-top: 300px;
    height: 100px;
    width: 100vw;
}
*/
#inputBtn_house1{
    display : none;
}
#house1{
    
    margin-top: 480px;
    margin-left: 260px;
}

#inputBtn_house2{
    display : none;
}
#house2{
    margin-top: -200px;
    margin-left: 1000px;
}

#inputBtn_house3{
    display : none;
}
#house3{
    margin-top: -300px;
    margin-left: 1700px;
}

#inputBtn_house4{
    display : none;
}
#house4{
    margin-top: 200px;
    margin-left: 500px;
}

#inputBtn_house5{
    display : none;
}
#house5{
    margin-top: -450px;
    margin-left: 1300px;
}
