body{
    background-image: url('../image/MirimTest_bg.png');
    background-size: 2560px 1440px;
    background-repeat : no-repeat;
}

#house{
    height: 100px;
    width: 100vw;
}

#house2{
    float: right;
    margin-right: 500px;
}

#house3{
    float: right;
}