body{
    background-image: url('../image/MirimTest_bg.png');
    background-size: 2560px 1440px;
    background-repeat : no-repeat;
    margin: 0%;
    overflow: hidden;
}

/*
#house{
    margin-top: 300px;
    height: 100px;
    width: 100vw;
}
*/

#house1{
    margin-top: 300px;
    margin-left: 200px;
}
#house2{
    margin-top: -200px;
    margin-left: 1000px;
}
#house3{
    margin-top: -300px;
    margin-left: 1700px;
}
#house4{
    margin-top: 300px;
    margin-left: 500px;
}
#house5{
    margin-top: -450px;
    margin-left: 1300px;
}
