body{
    background-image: url('../image/Game_town_userbg.jpg');
    background-size: 2560px 1440px;
    background-repeat : no-repeat;
    margin: 0%;
    overflow: hidden;
}

/*문제 입력*/
#que{
    background-repeat : no-repeat;
    background-image: url('../image/Game_town_txtBox.png');
    height: 660px;
    width: 955px;
    margin-top: 250px;
    margin-left: 800px;
    padding-top: 100px;
    padding-left: 130px;
}
#txt_queMade1{
    border: 1px solid #707070;
    border-radius: 10px;
    height: 60px;
    width: 700px;
    font-size: 16pt; 
    text-align: left; 
    color: black;
    box-sizing: border-box;

    border: 2px solid #0CC6B8;
    border-radius: 20px;
    background-color: #FFFAE4;
}
#txt_queMade2{
    border: 1px solid #707070;
    border-radius: 10px;
    height: 60px;
    width: 700px;
    font-size: 16pt; 
    text-align: left; 
    color: black;
    padding: 4px; 
    box-sizing: border-box;

    border: 2px solid #0CC6B8;
    border-radius: 20px;
    background-color: #FFFAE4;
}
#txt_ansMade{
    border: 1px solid #707070;
    border-radius: 10px;
    height: 60px;
    width: 700px;
    font-size: 16pt; 
    text-align: left; 
    color: black;
    padding: 4px; 
    box-sizing: border-box;

    border: 2px solid #0CC6B8;
    border-radius: 20px;
    background-color: #FFFAE4;
}




/*user 정보*/
#user{
    margin-top: -300px;
    margin-left: 900px;
}

#txt_num{
    border: 2px solid #0CC6B8;
    border-radius: 20px;
    background-color: #FFFAE4;

    height: 50px;
    width: 200px;
    font-size: 16pt; /*폰트 크기*/
    text-align: left; /*텍스트 위치*/
    color: black;
    padding: 4px; /*안쪽 여백*/
    box-sizing: border-box;
}

#txt_name{
    border: 2px solid #0CC6B8;
    border-radius: 20px;
    background-color: #FFFAE4;

    height: 50px;
    width: 200px;
    font-size: 16pt; /*폰트 크기*/
    text-align: left; /*텍스트 위치*/
    color: black;
    padding: 4px; /*안쪽 여백*/
    box-sizing: border-box;
    margin: 0%;
    overflow: hidden;
}

#gameStartBtn{
    float: right;
    margin-top: 200px;
    margin-right: 400px;
    height: 20px;
    width: 20px;
}

#txtBtn{
    background-image: url("../image/Game_town_txtBtn.png");
}