body {
    margin: 0%;

    height: 100vh;
    background-image: url('../image/guestbook_bg.png');
    background-repeat : no-repeat;
    background-size : cover;

}

#titlebar{
    background-color: #179063;
    height: 100px;
    width: 100vw;
}

#titlelogo{
    margin-top: 15px;
    margin-left: 7px;
}

#close{
    float: right;
    margin-right: 40px;
}

#messagebox{
    position: relative;
    background-image: url('../image/guestbook_messagebox.png');

    height: 182px;
    width: 1517px;

    margin-left: 200px;
    margin-top: 620px;
}

#boxcolor{
    position: absolute;
    background-image: url('../image/guestbook_color.png');

    left: 30px;
    top: 30px;

    height: 119px;
    width: 54px;
}

#sendbtn{
    position: absolute;
    background-image: url('../image/guestbook_send.png');

    height: 45px;
    width: 44px;

    right: 25px;
    bottom: 15px;
}
#nick{
    margin-left: 110px;
    margin-top: 20px;

    height:40px;
    width: 400px;

    border: none;
}

#guestbook{
    margin-left: 110px;
    margin-top: 3px;

    height: 80px;
    width: 1200px;

    border: none;
    font-size: 15px;
}